body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
    border: 10px solid lightgray;
    border-radius: 40px;
    margin: 20px 900px;

}

h1 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 5px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
}
ul.done{
    text-decoration: line-through;
}
