body {
    background-color: #e6e6e4;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #000000;
}


.Titel {
    color: #0a4593;
    text-align: center;

}

h1 {
    font-size: 4rem;

}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 60px 0;
}

.infos img.profilbild {
    width: 240px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

.textblock {
    max-width: 500px;
    padding: 20px;
    background: #b1b1b1;
    border-radius: 25px;
    transform: rotate(2deg);
}

.content {
    text-align: center;

}
.list {
    display: flex;
    gap: 5rem;
    justify-content: center;
    text-align: center;

}

menu {
    list-style: none;
}

menu li {
    line-height: 2rem;
    font-size: 1.2rem;
    color:black;
}
.link{
    text-decoration: none;
    color:black;
}

address {
    color: #555;
}
.back{
    text-align: center;
    font-size: 1.5rem;
    margin:auto;
    max-width: 90px;
    padding: 20px;
    background: #b1b1b1;
    border-radius: 25px;
    transform: rotate(1deg);

}


